.pulse { animation: pulse infinite 2s }
.fadeOutToIn { animation: fadeOutToIn 500ms forwards; }
.fadeInToOut { animation: fadeInToOut 500ms forwards; }
.shake { animation: shake 500ms forwards }
.rotate { animation: rotate 1.5s infinite linear }
.increaseSize { animation: increaseSize 1.5s forwards linear }
.fadeInToOut_increaseSize { animation: fadeInToOut_increaseSize 500ms forwards linear }

@keyframes pulse {
    0% { scale: 1; }
    50% { scale: .9; }
    100% { scale: 1; }
}

@keyframes fadeOutToIn {
    0% { opacity: 0; }
    100% { opacity: 1 }
}

@keyframes fadeInToOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes shake {

    0%,
    100% { transform: translateX(0); }

    25%,
    75% { transform: translateX(-7px); }

    50% { transform: translateX(7px); }
}

@keyframes rotate {
    0% { transform: rotate(auto); }
    100% { transform: rotate(360deg);}
}

@keyframes increaseSize {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

@keyframes fadeInToOut_increaseSize {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}