.pulse { animation: pulse infinite 2s }
.fadeAppear { animation: fadeAppear 500ms forwards; }
.fadeDisappear { animation: fadeDisappear 500ms forwards; }
.shake { animation: shake 500ms infinite }
.rotate { animation: rotate 1.5s infinite linear }

@keyframes pulse {
    0% { scale: 1; }
    50% { scale: .9; }
    100% { scale: 1; }
}

@keyframes fadeAppear {
    0% { opacity: 0; }
    100% { opacity: 1 }
}

@keyframes fadeDisappear {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes shake {

    0%,
    100% { transform: translateX(0); }

    25%,
    75% { transform: translateX(-7px); }

    50% { transform: translateX(7px); }
}

@keyframes rotate {
    0% { transform: rotate(auto); }
    100% { transform: rotate(360deg);}
}