.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    gap: 2em;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2em;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    border: .4em solid #000;
    width: 15em;
    height: 15em;
    text-align: center;    
    user-select: none;
}

.title {
    font-weight: 500;
}

.btn {
    padding: .4em;
    margin-top: .5em;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: 1.4em;
    border-radius: 9999px;
    border: 2px solid #000;
    cursor: pointer;
    transition: .2s transform, .2s filter, .2s outline;
    text-decoration: none;
}

.btn:active {
    transform: scale(1.075);
}